:root {
    background-color: #001A33;
    color: #DDD;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

html {
    background-color: #001A33;
}

body {
    margin: 0;
}

.loading-overlay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.75);
}

.loading-text {
    font-size: 1.5rem;
}

.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 95vh;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
}

.logo-image {
    width: 7.5vw;
    height: 7.5vw;
}

.logo-text {
    font-size: 1.5rem;
    padding-left: 1rem;
}

.options {
    flex-direction: column;
    align-items: flex-start;
    padding-left: 0;
    list-style: none;
}

.option {
    border: 2px solid #DDD;
    padding: 1rem;
    margin-bottom: 1rem;
    font-size: 1.1rem;
}

.option div {
    display: flex;
    align-items: center;
}

.option-icon, .content-header-icon {
    font-size: 2rem;
    width: 2rem;
}

.option-image-big, .content-header-image-big {
    height: 2rem;
    width: 2rem;
}

.option-image-small, .content-header-image-small {
    height: 1.75rem;
    width: 1.75rem;
}

.option-text {
    padding-left: 1rem;
}

.create {
    display: flex;
    flex-direction: column;
}

.content-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 15vh;
}

.content-header-back-button {
    font-size: 5rem;
    width: 15vw;
    margin-left: 2.5vw;
    margin-right: 2.5vw;
}

.content-header-text {
    font-size: 1.5rem;
    padding-left: 1rem;
}

.content {
    width: calc(100% - 40vw);
    padding-left: 20vw;
    padding-right: 20vw;
}

.content-block {
    font-size: 1.1rem;
    padding-bottom: 1rem;
}

.content-link-text {
    color: #DDD;
}

.content-text-field {
    font-family: inherit;
    font-size: 1.1rem;
    padding: 0.5rem;
}

.content-button {
    font: inherit;
    font-size: 1.1rem;
    padding: 0.5rem;
    margin-right: 0.5rem;
}

.category-grid {
    display: flex;
    flex-wrap: wrap;
}

.category {
    width: calc(100%);
}

@media only screen and (min-width: 1200px) {
    .category {
		max-width: calc(50%);
    }
}

.category-header-text {
    display: flex;
    align-items: center;
    font-size: 1.1rem;
    padding-bottom: 1rem;
}

.dropzone-caption-icon {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
}

.thumbnail-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-bottom: 0.5rem;
}

.thumbnail {
    display: inline-flex;
    border-radius: 2;
    border: 2px solid #eaeaea;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
    width: 100px;
    height: 100px;
    box-sizing: border-box;
}

.draggable {
    cursor: grab;
}

.dragging {
    cursor: grabbing !important;
}

.thumbnail-inner {
    display: flex;
    min-width: 0;
    overflow: hidden;
    justify-content: center;
}

.thumbnail-image {
    display: block;
    width: auto;
    height: 100%;
}

.thumbnail-placeholder {
    opacity: 0;
}

.spacer {
    height: 5rem;
}

.error-text {
    color: #FF1744;
}

.result {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 95vh;
}

.result-success-icon {
    font-size: 10rem;
    color: #00E676;
}

.result-title {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.result-download-link-text {
    font-size: 1.3rem;
    text-decoration: underline;
    margin-bottom: 3rem;
}

.result-home-link {
    display: flex;
    align-items: center;
    font-size: 1.1rem;
}

.result-home-button {
    font-size: 2rem;
    padding-right: 0.5rem;
}

footer {
    position: fixed;
    width: calc(100% - 2rem);
    bottom: 0;
    padding: 1rem;
    z-index: 1;
    background-color: #001A33;
}

.footer-items {
    display: flex;
    justify-content: space-between;
}

.footer-link {
    font-size: 1.1rem;
}

.footer-link-text {
    color: #DDD;
}

.visible {
    display: block;
}

.hidden {
    display: none;
}

.row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.fade-in {
    animation: fadeIn ease 1s;
}

@keyframes fadeIn {
    0% {
    	opacity: 0
    }
    100% {
    	opacity: 1
    }
}

.hover-fade, .hover-fade-no-pointer {
    transition: all .2s ease-out;
}

.hover-fade:hover {
    cursor: pointer;
    opacity: 0.5;
}

.hover-fade-no-pointer:hover {
    opacity: 0.5;
}